# temp files
*.o
*.d
*.swp
*.log

# texts and executables
*.txt
*.exe

# data files
*.tpl
*.tgt
*.fasta
*.pdb
*.lst
*.parsed

# subdirectories
data/
test/
Int_score/

# documents
doc/
!doc/*.tex

# zip files
*.zip
*.tar

# model files
*.model

# scripts
*.awk
*.dat
*.sh
*.py

# miscs
isscore_result
is-score.bat
tag
tags
*.tags*
*.sublime*

